/*----------  Reset CSS  ----------*/

@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css"); /* mini reset */

body {
  max-width: 1440px;
  margin: 0 auto;
}

/*----------  Custom Properties  ----------*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap"); /* font */

:root {
  --main-blue: #0065fc;
  --light-blue: #deebff;
  --grey: #d9d9d9;
  --black: rgba(0, 0, 0, 1);
  --400-14px: 400 14px "Raleway", sans-serif;
  --400-16px: 400 16px "Raleway", sans-serif;
  --500-16px: 500 16px "Raleway", sans-serif;
  --700-16px: 700 16px "Raleway", sans-serif;
  --700-17px: 700 17px "Raleway", sans-serif;
  --700-18px: 700 18px "Raleway", sans-serif;
  --700-22px: 700 22px "Raleway", sans-serif;
}

/*=============================================
=                     HEADER                  =
=============================================*/

/*----------  Navbar  ----------*/

.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__logo {
  width: 61.09px;
  height: 19px;
  margin: 44px 0px 0px 55px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 48px 77px 0px 0px;
}

.menu__item {
  font: var(--400-16px);
  color: var(--black);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu__item:hover {
  cursor: pointer;
  font: var(--500-16px);
  color: var(--main-blue);
}

.menu__item--2 {
  margin-left: 67px;
}

.menu__item::before {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  top: 0%;
  transition: all 0.3s ease;
}

.menu__item:hover::before {
  background-color: var(--main-blue);
  width: 162px;
}

/*----------  Searchbar  ----------*/

.header__title h1 {
  font: var(--700-22px);
  margin: 53px 0 8px 55px;
}

.header__title p {
  font: var(--400-16px);
  margin: 0 0 20px 55px;
}

.search-bar {
  margin: 0 0 32px 73px;
  position: relative;
}

.search-bar--icon {
  fill: var(--black);
  position: absolute;
  left: 5.42%;
  right: 90.36%;
  top: 32.65%;
  bottom: 30.61%;
  width: 14px;
  height: 18px;
}

.search-bar input {
  font: var(--700-18px);
  padding: 14px 72px 14px 35px;
  border: none;
  outline: none;
}

.search-bar input::placeholder {
  font: var(--700-18px);
}

.search-bar--button {
  font: var(--700-18px);
  color: white;
  background: var(--main-blue);
  padding: 14px 16px 14px 16px;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
  position: absolute;
  left: 310px;
  top: 0px;
}

.search-bar--button:hover {
  cursor: pointer;
}

.search-bar--button:active {
  padding: 13px 15px 13px 15px;
}

/*----------  Filter bar  ----------*/

.filter-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 32px 0px 35px 62px;
}
.filter-bar h2 {
  font: var(--700-18px);
  margin-right: 32px;
}

.filter-bar__btn {
  display: flex;
  justify-content: center;
  font: var(--700-17px);
  padding: 14px 20px 14px 20px;
  border: 2px solid var(--grey);
  border-radius: 25px;
}

.filter-bar__btn--1 {
  margin-right: 43px;
}

.filter-bar__btn--2 {
  margin-right: 40px;
}

.filter-bar__btn--3 {
  margin-right: 36px;
}

.filter-bar__btn--4 {
  padding: 14.58px 20px 14.58px 20px;
  margin-right: 36px;
}

.filter-bar i {
  color: var(--main-blue);
  font-size: 22px;
  margin-right: 10px;
}

.filter-bar__btn:hover {
  background-color: var(--light-blue);
  cursor: pointer;
}

/*----------  Info bar  ----------*/

.info-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 35px 0 37px 59px;
}

.info-bar p {
  font: var(--400-16px);
}

.info-bar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 1000px;
  border: 1px solid var(--grey);
  margin-right: 11px;
}

#info-bar__icon {
  font-size: 11.75px;
  color: var(--main-blue);
  text-align: center;
}

/*=====  End of HEADER  ======*/






/*=============================================
=              MAIN SECTION                  =
=============================================*/

.offers {
  margin: 0 50px 60px 50px;
  display: flex;
}

.offers h2 {
  font: var(--700-22px);
}

/*----------  Hébergements à Marseille  ----------*/

.offers__main {
  width: calc(
    (2 * (100% - 40px)) / 3
  ); /* Deux tiers de l'espace total moins 40px d'espacement */
  padding: 34px 44px 46px 36px;
}

.offers__main h2 {
  margin-bottom: 23px;
}


.card__main {
  width: calc(100% / 3);
  border: 5px solid #ffffff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out; /* Ajouter une transition pour un effet plus doux */
}

.card__main a {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

.card__main img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 124px;
  object-fit: cover;
}
.card__main h3 {
  font: var(--700-16px);
}
.card__main p {
  font: var(--400-14px);
}

.stars__container--main i {
  color: var(--main-blue);
  margin: -2px;
  font-size: 14px;
}

.card__description--main {
  padding: 4px 0 6px 11px;
}

.card__description--main > h3,
p {
  margin-bottom: 9px;
}

.card__main:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}

.card__main:active {
  transform: translateY(2px); /* Déplacer la carte de 2 pixels vers le bas */
}

.offers__main button{
  font: var(--700-18px);
  margin-top: 40px;
  margin-left: 4px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.offers__main button:hover{
  color: var(--main-blue);
}

.first-row, .second-row{
  display: flex;
  flex-direction: row;
}

.first-row{
  margin-bottom: 30px;
}

.card__main:nth-child(n+1):nth-child(-n+2){
  margin-right: 31px;
}
/*----------  Les plus populaires  ----------*/

.offers__spensored {
  width: calc(
    (100% - 40px) / 3
  ); /* Un tiers de l'espace total moins 40px d'espacement */
  margin-left: 40px;
  padding: 41px 40px 1px 37px;
}

.offers__spensored h2 {
  margin-bottom: 26px;
}

.title-and-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.title-and-icon i{
  color: var(--main-blue);
  font-size: 18px;
}

.card__spensored {
  border-radius: 20px;
  border: 5px solid #ffffff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.card__spensored:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}

.card__spensored:active {
  transform: translateY(2px); /* Déplacer la carte de 2 pixels vers le bas */
}

.card__spensored a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.card__spensored img {
  height: 144px;
  width: 36%;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}

.card__description--spensored {
  padding: 16px 22px 12px 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--black);
}

.card__spensored:nth-child(n+1){
  margin-bottom: 33px;
}

.card__description--spensored h3 {
  font: var(--700-16px);
  margin-bottom: 7px;
}

.card__description--spensored p {
  font: var(--400-14px);
}

.stars__container--spensored i {
  color: var(--main-blue);
  margin: -2px;
  font-size: 14px;
}
/*=====  End of Offers section  ======*/



/*=============================================
=            ACTIVITIES SECTION             =
=============================================*/


.activities{
  margin: 60px 53px 61px 50px;
}

.activities h2{
  font: var(--700-22px);
  margin-bottom: 18.47px;
}

.card__activity{
  width: 25%;
  border-radius: 20px;
  object-fit: cover;
}

.card__activity:hover{
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(2px); /* Déplacer la carte de 2 pixels vers le bas */
}

.card__activity a{
  text-decoration: none;
  color: var(--black);
}

.activities img{
  width: 100%;
  height: 389px;
  border-radius: 20px 20px 0px 0px;
}

.card__description--activity h3{
  font: var(--700-16px);
  padding: 20px 36px 21px 19px;
}

.activities-row{
  display: flex;
  flex-direction: row;
}

.card__activity:nth-child(-n+3){
  margin-right: 43px;
}
/*=====  End of Activities section  ======*/



/*=============================================
=            FOOTER SECTION                 =
=============================================*/


footer{
  display: flex;
  padding: 45px 0px 24px 118px;
  margin-bottom: 27px;
}

footer h3{
  font: var(--700-18px);
  margin-bottom: 20px;
}

.footer__column:nth-child(-n+2){
  width: 30%;
}

.link-list li:nth-child(-n+2){
  margin-bottom: 12px;
}

.link-list a{
  text-decoration: none;
  color: var(--black);
  font: var(--400-16px);
}

.link-list a:hover{
  text-decoration: underline;
}
/*=====  End of Footer section  ======*/




/*=============================================
=            MEDIA QUERIES SECTION            =
=============================================*/



/*=====  End of Media queries section  ======*/




